.paragraph{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
 
    font-family: monospace;
    padding: 20px;
}
.state-props{
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}
.react-work{
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}
.use-state{
    background-color:white;
    padding: 20px;
    border-radius: 7px;
}
@media screen and (min-width: 480px){
    .paragraph{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}