.player{
    font-family: monospace;

    background-color: rgb(255, 255, 255);
    margin: 25px;
    border-radius: 7px;
  
}
.player img{
    height: 200px;
    width: 250px;
    border-radius: 7px 7px 0px 0px;
    
   
}
.player-statictics{
   padding-left: 10px;
}
.btn-vote{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0px 0px 7px 7px;
    background-color: white;
    color: rgb(17, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}
.vote{
    padding-right: 10px;
}
.btn-vote:hover{
    background-color: gainsboro;
    border: white;
}
